body {
  background-image: url("https://images.unsplash.com/photo-1506744038136-46273834b3fb?auto=format&fit=crop&w=1000&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: sans-serif;
  color: #333;
}

h1 {
  text-align: center;
  font-family: Verdana, sans-serif; 
}
